.fancybox-can-swipe .fancybox-content {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    cursor: default
}

.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 0px;
    right: 0;
    top: 0;
}

.tab-pane-assist {
    position: relative;
    z-index: 2;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.bg-assist {
    background: #f5f5f5;
}

.assist-journey-wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    margin: 0 15px;
}

.assist-jouney-inner {
    position: absolute;
    background: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    padding: 35px 50px 50px;
}

.assist-jouney-inner>h2 {
    font-size: 24px;
    font-weight: 600;
}

.assist-jouney-inner>h2 .subhead-assist {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.assist-jouney-inner>h2 .assist-color {
    color: #851828;
    font-style: italic
}

.cross-assist,
.back-assist {
    position: absolute;
    right: 50px;
    top: 35px;
}

.cross-assist a img {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

/* .cross-assist a:hover img{transform:rotate(180deg);} */

.back-assist {
    right: 130px;
}

.back-assist a {
    color: #000000;
    font-weight: 400;
}

.back-assist a img {
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.back-assist a:hover img {
    transform: translateX(-10px)
}

.assist-slide-container {
    padding: 50px;
    background: #fff;
    width: 880px;
    margin: 20px auto 30px;
    text-align: center;
}

.assist-slide-btn-container {
    background: transparent;
    margin: 0 auto 10px;
    padding-bottom: 0px;
}

.assist-journey-btns-box {
    margin-top: 0px;
}

.assist-slide1-btns {
    display: inline-flex;
    width: 32%;
}

.assist-form {
    text-align: center
}

.assist-form>h3 {
    font-size: 36px;
    font-weight: 700;
    color: #3e3e3e;
    text-align: center;
    margin-top: 40px;
}

.assist-form>h3 .subhead {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #686c70;
}

.assist-form .next-btn {
    border-color: #861f28 !important;
    padding: 10px 50px !important;
    text-transform: uppercase;
    line-height: normal !important;
    font-weight: normal;
    color: #2f373d;
    font-size: 14px;
}

.assist-form .next-btn:hover {
    border-color: #861f28 !important;
    background: #861f28 !important;
    color: #fff;
}

.assist-form .next-btn {
    border-color: #861f28 !important;
    padding: 10px 50px !important;
    text-transform: uppercase;
    line-height: normal !important;
    font-weight: normal;
    color: #2f373d;
    font-size: 14px;
}

.assist-form .next-btn:hover {
    border-color: #861f28 !important;
    background: #861f28 !important;
    color: #fff;
}

.assist-form .card-hori-btn {
    border-color: #979b9e !important;
    padding: 8px 25px !important;
    text-transform: none;
    line-height: normal !important;
    font-weight: normal;
    color: #2f373d;
    font-size: 15px;
}

.assist-form .card-hori-btn:hover {
    border-color: #861f28 !important;
    background: #fff !important;
    color: #861f28;
}

.assist-form .card-hori-btn:last-child {
    margin-left: 15px;
}

.assist-cardbox .card-title {
    color: #2f373d;
    font-weight: 500;
    margin-bottom: 0.625rem;
}

.assist-cardbox .card-text {
    color: #2F373d;
    line-height: 1.4;
    font-size: 16px;
}

.homeicon-refresh-box {
    text-align: center;
    margin-top: 20px;
}

.buyhome-assist {
    font-size: 16px;
    font-weight: 500;
    background: url(images/homeicon-small.png) left top no-repeat;
    color: #3e3e3e;
    padding: 2px 0 2px 32px;
}

.buyhome-assist:hover {
    color: #861f28
}

.refresh-assist {
    font-size: 13px;
    font-weight: 500;
    background: url(images/refresh-icon.png) left top no-repeat;
    color: #3e3e3e;
    padding: 2px 0 2px 24px;
    margin-left: 25px;
}

.refresh-assist:hover {
    color: #861f28
}

.assist-slide-text {
    font-size: 22px;
    color: #2f373d;
    font-weight: 400;
    line-height: 65px;
}

.slide1name {
    display: inline-flex !important;
    width: 250px;
    border: none;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
}

.slide1name:focus {
    box-shadow: none;
    color: rgba(134, 31, 41, 0.5);
    border-color: rgba(255, 154, 0, 0.5);
}

.slide1mob {
    display: inline-flex !important;
    width: 270px !important;
    border: none;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
}

.slide1mob:focus {
    box-shadow: none;
    color: rgba(134, 31, 41, 0.5);
    border-color: rgba(255, 154, 0, 0.5);
}

.assist-slide-text .mobnumber-relate .form-group {
    position: relative;
}

.almost-there-mob {
    position: absolute;
    bottom: -35px;
    left: 0;
    font-size: 14px;
    font-style: italic
}

.mobile-sumt {
    margin: 0;
    background-color: transparent;
    background: url(images/arrow-orange.png) right 0 top 55% no-repeat;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.mobile-sumt:hover {
    transform: translateX(5px);
}

.mobile-sumt:focus {
    box-shadow: none;
}

.assist-screen5-wrap {
    width: 700px;
    margin: 0 auto
}

.assist-screen5-left,
.assist-screen5-right {
    display: inline-block;
    vertical-align: top
}

.assist-screen5-right {
    margin-left: 10px;
}

.otp-assist {
    margin: 50px 0 0 0;
    text-align: left
}

.otp-assist .otpleft-assist,
.otp-assist .otpright-assist {
    display: inline-block;
    position: relative
}

.otp-assist .otpleft-assist {
    line-height: 25px;
    vertical-align: top;
    margin: 10px 10px 0 0;
}

.otp-assist .otpleft-assist span {
    display: block;
    font-size: 14px;
    font-style: italic
}

.otp-assist .otpleft-assist span a {
    color: #2f373d;
}

.mobotp-scr5 {
    display: inline-flex !important;
    width: 100px !important;
    border: none;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
}

.mobotp-scr5:focus {
    box-shadow: none;
    color: rgba(134, 31, 41, 0.5);
    border-color: rgba(255, 154, 0, 0.5);
}

.otp-assist .otpright-assist .tickicon {
    position: absolute;
    top: 30%;
    right: -30px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border: 1px solid #861f28;
    border-radius: 50%;
}

.circle-tick {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0 0 0 15%;
    font-size: 15px;
    color: #861f28;
    font-weight: 500;
}

.assist-recommends-wrap {
    padding: 0;
    margin: 70px auto 10px
}

.assis-card-mar {
    padding-left: 0 !important;
}

.assist-card-right-text {
    padding: 30px 0
}

.custom-radios-assist div {
    display: inline-flex;
    width: 30.8%;
    text-align: left;
    padding: 0;
    margin: 0 8px 10px
}

.custom-radios-assist input[type="radio"] {
    display: none;
}

.custom-radios-assist input[type="radio"]+label {
    width: 100%;
    background: #fff;
    color: #3e3e3e;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.custom-radios-assist input[type="radio"]:checked+label {
    width: 100%;
    background: #861f28;
    color: #fff;
}

.custom-radios-assist input[type="radio"]+label span {
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
}

.radiocaption-assist {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    top: 20px;
    left: 95px;
}

.custom-radios-assist input[type="radio"]#button-ass-1+label span {
    width: 69px;
    height: 62px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -277px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-2+label span {
    width: 69px;
    height: 62px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -455px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-3+label span {
    width: 69px;
    height: 62px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -811px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-4+label span {
    width: 69px;
    height: 62px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -989px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-5+label span {
    width: 69px;
    height: 62px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -99px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-6+label span {
    width: 69px;
    height: 62px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -633px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-1:checked+label span,
.custom-radios-assist input[type="radio"]#button-ass-2:checked+label span,
.custom-radios-assist input[type="radio"]#button-ass-3:checked+label span,
.custom-radios-assist input[type="radio"]#button-ass-4:checked+label span,
.custom-radios-assist input[type="radio"]#button-ass-5:checked+label span,
.custom-radios-assist input[type="radio"]#button-ass-6:checked+label span {
    opacity: 1;
    width: 69px;
    height: 62px;
    display: inline-flex;
}

.custom-radios-assist input[type="radio"]#button-ass-1:checked+label span {
    width: 69px;
    background: url('assistJourney/css/content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -188px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-2:checked+label span {
    width: 69px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -366px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-3:checked+label span {
    width: 69px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -722px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-4:checked+label span {
    width: 69px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -900px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-5:checked+label span {
    width: 69px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -10px -10px;
}

.custom-radios-assist input[type="radio"]#button-ass-6:checked+label span {
    width: 69px;
    background: url('../../../../../content/dam/indusind-platform-images/home/icons/css_sprites-assist.png') -544px -10px;
}

.select-year {
    border: none;
    width: 90px;
    text-align: left;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
    background: none;
    margin: -5px 5px 0 0;
    position: relative;
    line-height: normal;
}

.select-year:focus {
    box-shadow: 0 4px 15px rgba(255, 154, 0, 0.5);
}

.select-year:after {
    position: absolute;
    right: 10px;
    top: 35%;
    border: solid #861f28;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select-gender {
    border: none;
    width: 140px;
    text-align: left;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
    background: none;
    margin: -5px 5px 0 0;
    position: relative;
    line-height: normal
}

.select-gender:focus {
    box-shadow: 0 4px 15px rgba(255, 154, 0, 0.5);
}

.select-gender:after {
    position: absolute;
    right: 10px;
    top: 35%;
    border: solid #861f28;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select-rupee {
    border: none;
    width: 140px;
    text-align: left;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
    background: none;
    margin: -5px 5px 0 0;
    position: relative;
    line-height: normal
}

.select-rupee:focus {
    box-shadow: 0 4px 15px rgba(255, 154, 0, 0.5);
}

.select-rupee:after {
    position: absolute;
    right: 10px;
    top: 35%;
    border: solid #861f28;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select-percent {
    border: none;
    width: 120px;
    text-align: left;
    border-bottom: 2px solid #ff9a00;
    border-radius: 0;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    color: #861f28;
    padding: 5px 5px 0;
    background: none;
    margin: -5px 5px 0 0;
    position: relative;
    line-height: normal
}

.select-percent:focus {
    box-shadow: 0 4px 15px rgba(255, 154, 0, 0.5);
}

.select-percent:after {
    position: absolute;
    right: 10px;
    top: 35%;
    border: solid #861f28;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.assist-slide-text .dropdown-menu {
    min-width: auto;
    width: 100%;
    line-height: normal;
}

.assist-slide-text .select-extended-element .dropdown-menu .dropdown-item {
    color: #861f28;
    font-size: 18px;
    font-weight: 500;
}

.assist-slide-text .dropdown-item {
    padding: 5px 0 0 10px;
}

.select-extend {
    display: none;
}

.select-last-element .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select-extended-element {
    text-overflow: ellipsis;
    position: relative;
}

.select-extended-element.select-checkbox .active {
    background: none;
    position: relative;
    color: #212529;
}

.select-extended-element.select-checkbox .active:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 8px;
}

.select-extended-element.select-checkbox .dropdown-menu .dropdown-item:active {
    color: #212529;
    background: #fff;
}

.select-extended-element.input-group-prepend {
    margin-bottom: initial;
}

.select-extended-element .btn {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.select-extended-element .dropdown-menu .select-search {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

.select-extended-element .dropdown-menu .select-extend-alert {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    display: none;
}

.select-extended-element .dropdown-menu .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:990px) {
    #fancybox_indusassist {
        opacity: 1 !important;
    }
    .assist-jouney-inner {
        padding: 20px 10px 50px;
    }
    .cross-assist,
    .back-assist {
        top: 20px;
        right: 20px;
    }
    .back-assist {
        right: 100px;
    }
    .assist-slide-container {
        padding: 50px 0px;
        width: 100%;
    }
    .custom-radios-assist div {
        width: 30%;
    }
    .radiocaption-assist {
        left: 90px;
    }
    .hide-small {
        display: none
    }
    .assist-slide-text {
        padding: 0 50px;
    }
    .assist-screen5-wrap {
        width: auto;
    }
    .assist-recommends-wrap {
        padding: 0;
    }
    .assist-cardpadd-small {
        padding: 12px 0 !important
    }
    .assist-cardbox .card-title {
        font-size: 20px;
        margin-bottom: 0.525rem;
    }
    .assist-cardbox .card-text {
        font-size: 14px;
        margin-bottom: 0.525rem;
    }
    .assist-form .card-hori-btn {
        padding: 6px 25px !important;
    }
    .assist-form .card-hori-btn {
        font-size: 14px;
    }
}

@media screen and (max-width:767px) {
    .assist-jouney-inner {
        padding-top: 70px;
    }
    .fancybox-container .container {
        padding: 0
    }
    .assist-form>h3 {
        font-size: 30px;
    }
    .assist-form>h3 .subhead {
        font-size: 20px;
    }
    .custom-radios-assist div {
        width: 46%;
    }
    .assist-slide-container {
        padding: 30px 0 10px;
    }
    .assist-screen5-left,
    .assist-screen5-right {
        width: 100%;
        text-align: left
    }
    .assist-screen5-left {
        margin-left: 10px;
    }
    .otp-assist {
        width: 230px;
        margin: 40px 0 0
    }
    .assist-recommends-wrap {
        padding: 0
    }
    .assis-card-mar {
        padding-right: 0;
    }
    .assist-cardpadd-small {
        padding: 20px 0 !important
    }
    .assist-recommends-wrap {
        margin: 20px auto 10px;
    }
}

@media screen and (max-width:599px) {
    .custom-radios-assist div {
        width: 45%;
    }
    .assist-slide-text {
        padding: 0 5px;
        line-height: 55px;
    }
    .assist-slide-container {
        padding-top: 0;
    }
}

@media screen and (max-width:479px) {
    .assist-form>h3 {
        margin-top: 20px
    }
    .assist-jouney-inner>h2 {
        font-size: 6.7vw;
    }
    .assist-jouney-inner>h2 .subhead-assist {
        font-size: 4vw;
    }
    .custom-radios-assist div {
        width: 96%;
        margin: 0 0 5px;
    }
    .slide1mob,
    .mobotp-scr5,
    .select-rupee,
    .select-year,
    .select-percent,
    .slide1name,
    .select-gender {
        font-size: 20px;
    }
    .select-rupee {
        width: 115px;
    }
    .assist-slide-text {
        line-height: 45px;
        font-size: 20px;
    }
    .slide1mob {
        width: 190px !important;
    }
    .radiocaption-assist {
        left: 105px;
    }
    .mobile-sumt {
        padding: 10px 18px;
    }
    .almost-there-mob {
        font-size: 12px;
        bottom: -30px;
    }
    .otp-assist .otpleft-assist span {
        font-size: 12px;
    }
    .assist-form .card-hori-btn {
        padding: 8px 15px !important
    }
    .assist-form .card-hori-btn:last-child {
        margin-left: 10px;
    }
}