.important-info-slider {
    overflow: visible !important;
}

.tooltip-inner {
    background: #f3f5f6;
    color: black;
}

.important-info-slider h6 a {
    font-weight: 400;
}

.important-info-slider .linkinfo a {
    font-size: 0.625rem;
    font-weight: 600;
    color: #832625;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.important-info-slider .linkinfo .iconinfo {
    margin-left: 1.5625rem;
    width: 30px;
}

/*.important-info-slider .swiper-slide {
    padding: 0 15px;
    border-left: 1px solid #832625;
}*/

.carrow .swiper-button-next,
.carrow .swiper-button-prev {
    top: -20px;
}

.tooltip.show {
    opacity: 1;
}