/*********************** For Rates Page CSS *****************************/

.rate-wrap h4 {
    font-family: 'Myriad Pro' !important;
    font-size: 1.75rem;
}

.rate-wrap p {
    font-size: 0.875rem;
    margin-bottom: 0.6rem;
    font-weight: 200;
    line-height: normal;
}

.rate-wrap p+ul {
    margin-top: -6px;
}

.rate-wrap ul {
    margin: 0 15px;
    padding: 0px;
}

.rate-wrap ul li {
    color: #000;
    font-size: 0.875rem;
    list-style: none;
    position: relative;
    line-height: normal;
    padding: 2px 0 2px 20px;
    font-weight: 200;
}

.rate-wrap ul li:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 3px solid #832625;
    border-radius: 50%;
    top: 7px;
    left: 0px;
}

.rate-wrap .minwidth300 {
    min-width: 300px;
}

.rate-wrap .minwidth200 {
    min-width: 200px;
}

@media (max-width: 1169px) {}

@media (max-width: 990px) {}

@media (max-width: 767px) {
    .rate-wrap h4 {
        font-size: 1.45rem;
    }
    .table-common {
        font-size: 0.875rem;
    }
    .ratepage .tabs-container.pl-3.pr-3,
    .ratepage .rate-wrap .col-lg-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .ratepage h2 {
        font-size: .875rem;
    }
    .ratepage .table-common tbody tr th,
    .ratepage .table-common tbody tr td {
        padding: 7px 5px;
        font-size: .75rem;
    }
    .ratepage .container.bg-white.pt-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .ratepage .card_select_wrap .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 599px) {
    .as_table h5 {
        font-size: 1rem;
    }
}

@media (max-width: 479px) {
    .rate-wrap h4 {
        font-size: 1.25rem;
    }
}

@media (max-width: 359px) {}