.errormessagep,
.successmessagep {
    font-size: 1.125rem;
    padding: 34px 0 18px;
    text-align: center;
    line-height: normal;
    color: black;
}

.recaptchaerror {
    color: red;
    clear: both
}

.modal_subscriber .modal-header {
    padding: 0;
    min-height: 20px;
}

.modal_subscriber .close {
    top: 0;
    right: 0;
    position: absolute
}

.modal_subscriber .errormessagep,
.modal_subscriber .successmessagep {
    padding: 0
}

.modal_subscriber .modal-content {
    border: solid 3px #dedede;
    border-radius: 6px;
    min-height: 112px
}

.modal_subscriber .close {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100
}

.modal_subscriber .close svg {
    width: 30px !important;
    height: 30px !important
}