.calc_container {
    margin-top: 35px;
}

@media (max-width: 767px) {
    .calc_container .col-md-3,
    .calc_container .col-md-9 {
        padding: inherit !important;
    }
}

.width-md {
    max-width: 675px;
    margin: 0 auto;
}

.calc_box .font-lg {
    font-size: 1.625rem;
    color: #832625;
    font-weight: bold;
}

.calc_box .font-lg i {
    font-size: 0.875rem;
    font-weight: 400;
}

@media (max-width: 992px) {
    .calc_box .font-lg {
        font-size: 1.25rem;
    }
}

.calc_box h6>a {
    color: #832625;
}

.calc_box .dropdown-menu {
    max-height: 160px;
    overflow-y: auto;
    line-height: 1.7;
    min-width: 100%;
}

.calc_box p {
    font-size: 1.375rem;
    line-height: 3;
}

.calc_box p.p-inherit {
    font-size: 1rem;
    line-height: 1.7;
}

.compare_col .calc_box p {
    line-height: 2.2;
}

.calc_box .withsymol i {
    line-height: 3;
}

.compare_col .calc_box .withsymol i {
    line-height: 2.2;
}

@media (max-width: 992px) {
    .calc_box p {
        font-size: 1rem;
    }
    .calc_box p.p-inherit {
        font-size: .875rem;
    }
}

.calc_btmline {
    position: absolute;
    bottom: 0px;
    right: 15px;
    margin: 0;
}

.link_compare span:nth-child(2):after {
    content: "+";
}

.link_compare.de-active span:nth-child(1) {
    display: none;
}

.link_compare.de-active span:nth-child(2):after {
    content: "x";
}

.loan_calculated .compare_col_added {
    display: none;
}

.loan_calculated .compare_col_added .card {
    border-color: #832625;
}

.loan_calculated .compare_col_added .link_compare_close {
    position: absolute;
    right: 0;
    top: 0;
}

.calc_container .selected_items .nav li {
    margin: 0 15px;
    padding: 0 15px;
    font-weight: bold;
    color: #832625;
    position: relative;
}

@media (max-width: 992px) {
    .calc_container .selected_items .nav li {
        margin: 0;
        padding: 0;
    }
}

.calc_container .selected_items .nav li a {
    color: #832625;
}

.calc_container .selected_items .nav li:after {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 13px;
    display: none;
}

.calc_container .selected_items .nav li:before {
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 13px;
    display: none;
}

.calc_container .selected_items .nav li:last-child::before,
.calc_container .selected_items .nav li:last-child::after {
    display: none;
}

.calc_container .selected_items .select-autowidth {
    font-size: 1rem;
}

.calc_container .selected_items .select-autowidth:after {
    top: auto;
}

.calc_container .selected_items .dropdown-menu {
    min-width: 100%;
}

@media (max-width: 767px) {
    .calc_container .selected_items .nav li {
        margin: 10px 0;
        padding: 0;
        width: 50%;
    }
    .calc_container .selected_items .nav li span {
        min-width: 60px;
        width: 100%;
    }
}

.line-height-lg {
    line-height: 2.2;
}

.tellme_container .calc_box p {
    line-height: 2.2;
}